<!DOCTYPE html>
<html>
<head>
    <meta property="og: title" content="Relevant xkcd"/>
    <meta property="og: description" content="Type anything and it will find the relevant xkcd !" />
    
    <title>Relevant xkcd</title>
    <link rel="stylesheet" href='/stylesheets/styles.css' />
</head>
<body>
    <h1>Type anything and it will find the relevant xkcd !</h1>
    <div id="form_container">
        <form action="https://relevantxkcd.me" method="post">
            <input type="text" placeholder="Space themed jokes." name="prompt" id="prompt" value="{{query}}">
            <button type="submit">Find xkcd !</button>
        </form>
    </div>
    
    <div id="response">
        <a href="{{img1}}"><img src="{{img1}}"></a>
        <a href="{{img2}}"><img src="{{img2}}"></a>
        <a href="{{img3}}"><img src="{{img3}}"></a>
        <a href="{{img4}}"><img src="{{img4}}"></a>
    </div>

    <div id="footer">
        Made by <a href="https://github.com/Harshvardhan-Mestha">Harshvardhan Mestha</a>
    </div>

</body>
</html> 