<!DOCTYPE html>
<html>
<head>
    <meta property="og: title" content="Relevant xkcd"/>
    <meta property="og: description" content="Type anything and it will find the relevant xkcd !" />
    <meta property="og:image" content="https://ibb.co/XjLp8vX"/>

    <title>Relevant xkcd</title>
    <link rel="stylesheet" href='/stylesheets/styles.css' />
    <script async src="https://ackee.x.vimarsh.xyz/tracker.js" data-ackee-server="https://ackee.x.vimarsh.xyz" data-ackee-domain-id="0b39621f-f65a-4a2d-a293-c306b8fc1326"></script>
    <script async src="https://logs.vimarsh.co/script.js" data-website-id="3cb9a536-4734-40b4-a294-18e8b0108987"></script>
</head>
<body>
    <h1>Type anything and it will find the relevant xkcd !</h1>
    <div id="form_container">
        <form action="https://relevantxkcd.me" method="post">
            <input type="text" placeholder="Space themed jokes." name="prompt" id="prompt" value="{{query}}">
            <button type="submit">Find xkcd !</button>
        </form>
    </div>
    
    <div id="response">
        <a href="https://xkcd.com/{{url1}}/"><img src="{{img1}}"></a>
        <a href="https://xkcd.com/{{url2}}/"><img src="{{img2}}"></a>
        <a href="https://xkcd.com/{{url3}}/"><img src="{{img3}}"></a>
        <a href="https://xkcd.com/{{url4}}/"><img src="{{img4}}"></a>
    </div>

    <div id="footer">
        <p>Comics from the <a href="https://xkcd.com">xkcd online comic</a></p>
        <p>Made by <a href="https://github.com/Harshvardhan-Mestha">Harshvardhan Mestha</a></p>
    </div>

</body>
</html> 